{{ 'section-specification.css' | asset_url | stylesheet_tag }}

<section class="spec">
    <div class="spec__title">
        <h2>SPECIFICATIONS</h2>
    </div>
    <div class="spec__card-list">
        <div class="spec__card">
            <h1>Frameset</h1>
            <ul>
                <li>Sizes: {{ product.metafields.my_fields.sizes }}</li>
                <li>Frame: {{ product.metafields.my_fields.frame }}</li>
                <li>Front Suspension: {{ product.metafields.my_fields.front_suspension }}</li>
            </ul>
        </div>

        <div class="spec__card">
            <h1>Drivetrain</h1>
            <ul>
                <li>Crankset: {{ product.metafields.my_fields.crankset }}</li>
                <li>BB Set: {{ product.metafields.my_fields.b_b_set }}</li>
                <li>Freewheel: {{ product.metafields.my_fields.freewheel }}</li>
                <li>Pedals: {{ product.metafields.my_fields.pedals }}</li>
            </ul>
        </div>

        <div class="spec__card">
            <h1>Wheels</h1>
            <ul>
                <li>Wheels: {{ product.metafields.my_fields.wheels }}</li>
                <li>Tires: {{ product.metafields.my_fields.tires }}</li>
            </ul>
        </div>

        <div class="spec__card">
            <h1>Components</h1>
            <ul>
                <li>Seat Post: {{ product.metafields.my_fields.seat_post }}</li>
                <li>Handlebar: {{ product.metafields.my_fields.handlebar }}</li>
                <li>Stem: {{ product.metafields.my_fields.stem }}</li>
                <li>Headset: {{ product.metafields.my_fields.headset }}</li>
                <li>Brakeset: {{ product.metafields.my_fields.brakeset }}</li>
            </ul>
        </div>
    </div>
</div>

{% schema %}
{
   "name": "Cycle Specification",
  "presets": [
      {
          "category": "specifications",
          "name":"Cycle Specifications"
      }
  ]
}
{% endschema %}