{{ 'section-specification.css' | asset_url | stylesheet_tag }}

<section class="spec">
    <div class="spec__title">
        <h2>SPECIFICATIONS</h2>
    </div>
    <div class="spec__card-list">
        <div class="spec__card">
            <h1>Frameset</h1>
            <ul>
                <li><span class="spec-head-color">Sizes: </span>{{ product.metafields.my_fields.sizes }}</li>
                <li><span class="spec-head-color">Frame: </span>{{ product.metafields.my_fields.frame }}</li>
                <li><span class="spec-head-color">Front Suspension: </span>{{ product.metafields.my_fields.front_suspension }}</li>
            </ul>
        </div>

        <div class="spec__card">
            <h1>Drivetrain</h1>
            <ul>
                <li><span class="spec-head-color">Crankset: </span>{{ product.metafields.my_fields.crankset }}</li>
                <li><span class="spec-head-color">BB Set: </span>{{ product.metafields.my_fields.b_b_set }}</li>
                <li><span class="spec-head-color">Freewheel: </span>{{ product.metafields.my_fields.freewheel }}</li>
                <li><span class="spec-head-color">Pedals: </span>{{ product.metafields.my_fields.pedals }}</li>
            </ul>
        </div>

        <div class="spec__card">
            <h1>Wheels</h1>
            <ul>
                <li><span class="spec-head-color">Wheels: </span> {{ product.metafields.my_fields.wheels }}</li>
                <li><span class="spec-head-color">Tires: </span>{{ product.metafields.my_fields.tires }}</li>
            </ul>
        </div>

        <div class="spec__card">
            <h1>Components</h1>
            <ul>
                <li><span class="spec-head-color">Seat Post: </span>{{ product.metafields.my_fields.seat_post }}</li>
                <li><span class="spec-head-color">Handlebar: </span>{{ product.metafields.my_fields.handlebar }}</li>
                <li><span class="spec-head-color">Stem: </span>{{ product.metafields.my_fields.stem }}</li>
                <li><span class="spec-head-color">Headset: </span>{{ product.metafields.my_fields.headset }}</li>
                <li><span class="spec-head-color">Brakeset: </span>{{ product.metafields.my_fields.brakeset }}</li>
            </ul>
        </div>
    </div>
</div>

{% schema %}
{
   "name": "Cycle Specification",
  "presets": [
      {
          "category": "specifications",
          "name":"Cycle Specifications"
      }
  ]
}
{% endschema %}